.todos-list {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }
  
  .todo-item--completed {
    color: #c2c1c1;
    /* border: 1px solid #e1e0e0; */
    text-decoration: line-through;
  }

  .title {
    text-align: center;
  }